html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, pre, code, address, variable, form, fieldset, blockquote {
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-family: times;
	overflow-x: hidden;
}

body{
	width:100%;
	background: #e6e6e6;
	height:100%;
}

#fondo1{
	position: fixed;
    height: 160vh;
    z-index: -1;
    left: 50%;
    translate: -50% -20%;
}

#gradiente{

	width:100%;
	overflow:hidden;
	height:90%;
background: rgb(240,240,240);
background: linear-gradient(0deg, rgba(240,240,240,1) 10%, rgba(240,240,240,0) 65%);
}

content{
	background: rgba(240,240,240,1);
	width: 100%;
	display:block;
	margin: 0 auto;
	position: relative;
}

main{
	width:1000px;
	display: block;
	margin: 0 auto;
	position: relative;
}

header{
    position: fixed;
    height: 50px;
    float: right;
    margin: 0 auto;
    top: 4%;
    left: 50%;
    translate: -50% 0%;
width: max-content;
}

header nav{
	float:right;
	right:1.5%;
}

header nav.opacidad{
	opacity: 0.0;
}


nav ul li{
	float: left;
	margin-right:5px;
	list-style: none;
	font-size:1em;
}

section{
	width:100%;
	height:40%;
	box-sizing: border-box;

}

h1{
	text-align: center;
	display:inline-block;
	font-size: 2em;
	color: #0000e2;
	width: max-content;
}

h3{
	font-size: .8em;
	letter-spacing: 1px;
	width: max-content;


}

p{
	font-family: courier;
	letter-spacing: 1px;
	font-size: 1em;
}

#intro{
	text-align: center;
	height:320px;
	padding:100px 0px 0px 0px;
}

#intro h1{
	position: fixed;
	bottom:20%;
	left:50%;
	translate: -50% 0%;
	scale: 1;
}

#intro h3{
	position: fixed;
	bottom:17.5%;
	left:50%;
	translate: -50% 0%;
	scale: 1;
}

@keyframes acercar{
    0%{
    	scale:.8;
    	filter: blur(10px);
    }
    50%{
    	scale: 1;
    	filter: blur(0px);
    }

     70%{
    	scale: 1;
    	filter: blur(0px);
    }
    100%{
    	scale: 1;
    	filter: blur(15px);

    }
}


#intro p{
	text-align: center;
    scale: 1;
    margin: 0px 150px 0px 150px;
    float: inline-end;
    filter: blur(0px);
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: acercar;

    animation-range: entrey -50% cover 50%;





}





#capitulos{
	background-color: rgba(0, 0, 0, 0.15);
	background-color:red;
}


@media (max-width: 1000px) {
main{
	width:100%;
	display: block;
	margin: 0 auto;
	position: relative;

}
#intro p {

    margin: 0px 20px 0px 20px;

}

#fondo1{
    left: 10%;
}

}