/*///////////////////// GENERALES ///////////////////////////////*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@300;400&display=swap');

*{
	padding: 0;
	margin: 0;
	list-style: none;
	font-weight: normal;
	font-family: times;
}

body{
	width:100%;
	background: #e6e6e6;
	height:100%;
}

h1{
	text-align: center;
	display:inline-block;
	font-size: 2em;
	color: #0000e2;
	width: max-content;
}


h2{
	text-align: center;
	letter-spacing: 2px;
}

h3{
	font-size: .8em;
	letter-spacing: 1px;
}

p{
	font-family: courier;
	letter-spacing: 1px;
	font-size: 1em;
}

/*///////////////////// IMAGEN INTRO ///////////////////////////////*/

#fondo1{
	position: fixed;
	height: 160vh;
	z-index: -1;
	left: 50%;
	translate: -50% -20%;
}

#gradiente{
	width:100%;
	overflow:hidden;
	height:90%;
	background: rgb(240,240,240);
	background: linear-gradient(0deg, rgba(240,240,240,1) 10%, rgba(240,240,240,0) 65%);
}

/*///////////////////// CONTENIDO ///////////////////////////////*/

content{
	background: rgba(240,240,240,1);
	width: 100%;
	display:block;
	margin: 0 auto;
	position: relative;
}

main{
	width:1000px;
	display: block;
	margin: 0 auto;
	position: relative;
}


/*///////////////////// IMAGEN INTRO ///////////////////////////////*/

header{
	position: fixed;
	height: 50px;
	margin: 0 auto;
	top: 4%;
	width: 1000px;
	z-index: 5;
}

header img{
	width:12px;
	filter: blur(.5px);

}


/*/// NAVBAR ///*/

header nav.opacidad{
	opacity: 0.0;
}

nav ul{
	display: flex;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	justify-content:center;
	flex-wrap: wrap;
}

nav ul li{
	list-style: none;
	font-size:0.8em;
	padding: 0.1rem;
}

.general *{
	background-color: #00f;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #e6e6e6;
	letter-spacing: 0.24em;
	font-size: 0.75rem;
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
}


/*///////////////////// SECCIONES ///////////////////////////////*/

section{
	width:100%;
	height:40%;
	box-sizing: border-box;
}

/*///////////////////// INTRO ///////////////////////////////*/

#intro{
	text-align: center;
	height:400px;
	padding:100px 0px 0px 0px;
}


#intro h1{
	position: fixed;
	bottom:20%;
	left:50%;
	translate: -50% 0%;
	pointer-events: none;
	scale: 1;
	transition: opacity .25s ease 0s;
}

#intro h3{
	position: fixed;
	bottom:17.5%;
	left:50%;
	translate: -50% 0%;
	width: max-content;
	pointer-events: none;
	scale: 1;
	transition: opacity .25s ease 0s;
}

@keyframes acercar{
	0%{
		scale:.8;
		filter: blur(10px);
	}
	10%{
		filter: blur(0px);
	}  
	60%{
		scale: 1;
		filter: blur(0px);
	}

	80%{
		scale: 1;
		filter: blur(0px);
	}
	100%{
		scale: 1;
		filter: blur(15px);

	}
}

@keyframes acercar2{
	0%{
		scale:.8;
		filter: blur(10px);
	}
	30%{
		filter: blur(0px);
	}  
	50%{
		scale: 1;
		filter: blur(0px);
	}

	65%{
		scale: 1;
		filter: blur(0px);
	}
	100%{
		scale: 1;
		filter: blur(25px);
	}
}
#intro p{
	text-align: center;
	scale: 1;
	margin: 0px 150px 0px 150px;
	float: inline-end;
	filter: blur(0px);
	view-timeline-name: --image;
	view-timeline-axis: block;
	animation-timeline: --image;
	animation-name: acercar;
}

.opacidad{
	opacity: 0;
	}

/*///////////////////// CAPITULOS ///////////////////////////////*/

#capitulos{
	height: max-content;
	view-timeline-name: --image;
	view-timeline-axis: block;
	animation-timeline: --image;
	animation-name: acercar2;
}

#capitulos h2{
	margin-bottom: 50px;

}

/* ESTILOS SLIDER  */
.slider div{
	overflow: visible;
}
.card{
	height: auto;
	color: #00f;
	box-sizing: border-box;
	border: solid .5px; 
}

.slider img{
	box-sizing: border-box;
	width: 98%;
	margin:1% 1% 1rem 1%;

}

.slider p, .slider h4{
	font-family: 'Roboto', sans-serif;
	font-size: .5rem;
	margin: 5%;
}

.slider h3{
	font-family: 'Montserrat', sans-serif;
	margin: 5%;
}
.slick-current{
 	box-shadow: 4px 4px;
}

.slick-slide {
	opacity: .6;
    margin: 0 5px;
  }
  .slick-center{
	opacity: 1;
}


  /* the parent */
/*  .slick-list {
      margin: 0 -5px;
  } */



/*///////////////////// POR QUÉ ///////////////////////////////*/


#porque{
	display: flex;
	align-items: center;
	justify-content: center;
}

#porque div{
	width: 50%;
}

#porque h2{
	text-align: start;
}

#porque p{
	padding: 2rem;
	font-size: small;
	text-align: justify;
}
#porque img{
	height: 100%;
	mask-image: radial-gradient(circle 150px,#000, transparent);

}
/* //////////////////// PATREON ////////////////// */

#patreon{

	margin: 0 auto;
	margin-top: 200px;
	width: 75%;
}
#patreon div{
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
}

#patreon h3, #patreon h4{
	grid-column: 1;
}

#patreon h4{
	font-size: 1rem;
}
#patreon h3{
	font-size: 1.5rem;
	text-align: end;
}
#patreon img{
    width: 25%;
	grid-column: 2;
	margin: 0 auto;
}

#patreon p{
	text-align:left;
	grid-column: 3;
	font-size: .5rem;
}

/* //////////////////// PLATAFORMA ////////////////// */

#plataforma h2{
	margin-bottom: 2rem;
	margin-left: auto;
	margin-right: auto;
}
#plataforma{
	margin-top: 100px;
	height: fit-content;
}

#plataforma dl{
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(2, 1fr);
	column-gap: 3rem;
	align-items: center;
}

#plataforma div{
	text-align: left;
	
}

#plataforma dd{
	text-align: left;	
	margin-top: 2rem;
}
#plataforma img{
	max-width: 400px;
	margin: 0 auto;
}


/* //////////////////// RIFA ////////////////// */
#rifa{
	margin-top: 100px;
	height: fit-content;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr 1fr 5fr 3fr;
	gap: 1rem;
}

#rifa1{
	grid-row: 1;
	grid-column: 1 / 4;
	text-align: center;
}

#rifa2{
	grid-row: 2;
	grid-column: 1 / 4;
	text-align: center;
}

#rifa3{
	grid-row: 3;
	grid-column: 1;
	text-align: left;
}

#rifa4{
	grid-row: 3;
	grid-column: 2;
	text-align: center;
}

#rifa5{
	grid-row: 3;
	grid-column: 3;
	text-align: center;
}

#rifa6{
	margin: 0 auto;
	grid-row: 4;
	grid-column: 1 / 4;
}

/* //////////////////// FOOTER ////////////////// */
footer{
	margin-top: 100px;
	background-color: pink;
	height: fit-content;
}

/*///////////////////// MEDIA QUERIES ///////////////////////////////*/

@media (max-width: 1000px) {
	main{
		width:100%;
		display: block;
		margin: 0 auto;
		position: relative;

	}

	header{
		padding:0px 25px 0px 20px;
		box-sizing: border-box;
		width:100%;

	}

	#intro p {

		margin: 0px 20px 0px 20px;

	}

	#fondo1{
		left: 10%;
	}


/* POR QUÉ */

#porque{
	margin-top: 200px;
	flex-wrap: wrap;
	height: auto;
	justify-content: center;
}

#porque img {
	margin-top: 1rem;
	max-width: 425px;
}

/* PATREON  */


/* PLATAFORMA */



/* RIFA */


/* FOOTER */


}
